<span xmlns:th="https://www.thymeleaf.org"
      th:fragment="footer (footer)" class="record"
      th:if="${theme.config.enhance.busuanzi_group.enable_busuanzi == true || theme.config.enhance.busuanzi_group.enable_busuanzi == 'custom'}"
      th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')},
               hideMobile = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hidden_mobile')},
               hideNotMobile = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hidden_not_mobile')},
               classStr = ${#strings.trim(#strings.arrayJoin({(mobileLine ? 'footer-truncation' : ''), (hideSeparator ? 'exclusive' : ''), (hideMobile ? 'is-hidden-mobile' : ''), (hideNotMobile ? 'is-hidden-not-mobile' : '')},' '))}"
      th:classappend="${classStr}">
    <span id="busuanzi_container_site_uv"
          th:style="${theme.config.enhance.busuanzi_group.enable_busuanzi == true} ? 'display: none;' : ''">
                              <i class="ri-account-circle-line" aria-hidden="true"></i><span class="stand"
                                                                                             th:id="${theme.config.enhance.busuanzi_group.enable_busuanzi == 'custom'} ? 'busuanzi_site_uv' : 'busuanzi_value_site_uv'">0</span>[[#{footer.busuanzi.site_uv}]]
                            </span>
                            <span id="busuanzi_container_site_pv"
                                  th:style="${theme.config.enhance.busuanzi_group.enable_busuanzi == true} ? 'display: none;' : ''">
                              <i class="ri-pie-chart-line" aria-hidden="true"></i><span class="stand"
                                                                                        th:id="${theme.config.enhance.busuanzi_group.enable_busuanzi == 'custom'} ? 'busuanzi_site_pv' : 'busuanzi_value_site_pv'">0</span>[[#{footer.busuanzi.site_pv}]]
                            </span>
</span>