<span xmlns:th="https://www.thymeleaf.org"
      th:fragment="footer (footer)"
      th:if="${!#strings.isEmpty(theme.config.basic_info.cdn_by_logo)}"
      th:with="mobileLine = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'mobile_line')},
               hideSeparator = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hide_separator')},
               hideMobile = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hidden_mobile')},
               hideNotMobile = ${footer != null and not #lists.isEmpty(footer.show_style) and #lists.contains(footer.show_style, 'hidden_not_mobile')},
               classStr = ${#strings.trim(#strings.arrayJoin({(mobileLine ? 'footer-truncation' : ''), (hideSeparator ? 'exclusive' : ''), (hideMobile ? 'is-hidden-mobile' : ''), (hideNotMobile ? 'is-hidden-not-mobile' : '')},' '))},
               html='&lt;a class=&quot;cloud-driven&quot; target=&quot;_blank&quot; rel=&quot;noopener noreferrer nofollow&quot; href=&quot;' + ${theme.config.basic_info.cdn_by_url} +
               '&quot; aria-label=&quot;' + #{footer.cdn.name} + '&quot; title=&quot;' + #{footer.cdn.name} + '&quot;&gt;&lt;img height=&quot;auto&quot; width=&quot;auto&quot; alt=&quot;' + #{footer.cdn.name} + '&quot; src=&quot;' + ${theme.config.basic_info.cdn_by_logo} + '&quot;/&gt;&lt;/a&gt;'"
      th:classappend="${classStr}"
      th:utext="${#messages.msg('footer.cdn.desc', html)}">
</span>