<!DOCTYPE html>
<th:block
  th:insert="~{common/layout :: layout (showTitle = ${#messages.msg('page.moments.browser.title', title, site.title)}, canonical = @{/moments}, content = ~{::content}, isPost = true, hideSidebar = false)}"
  th:with="isJournals = true, enableShare = ${theme.config.page_config.enable_journals_share}, baseEnableComment = ${theme.config.page_config.enable_journals_comment}"
  xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <div class="card card-content journal" th:if="${!#lists.isEmpty(tags) && theme.config.page_config.enable_journals_tags}">
      <div class="card-tab">
        <div>
          [[${title}]]
        </div>
      </div>
      <div class="journal-teams">
        <a th:class="${#strings.isEmpty(param.tag)? 'item active' : 'item'}" th:href="@{/moments}" th:aria-label="#{page.moments.all.name}" th:title="#{page.moments.all.name}">[[#{page.moments.all.name}]]</a>
        <a th:each="tag : ${tags}" th:class="${#strings.equals(param.tag, tag.name)? 'item active' : 'item'}" th:title="${tag.name}" th:aria-label="${tag.name}" th:href="@{/moments(tag=${tag.name})}" th:text="${tag.name}"></a>
      </div>
    </div>
    <th:block th:each="moment : ${moments.items}">
      <th:block th:replace="~{moment :: momentDetail (moment = ${moment})}" />
    </th:block>
    <th:block th:replace="~{main/pagination :: pagination (${moments}, '/moments')}"/>
  </th:block>
</th:block>
