<div xmlns:th="https://www.thymeleaf.org"
     th:fragment="widget (sidebar)"
     th:class="'card widget notice ' + ${sidebar.hide} + ' is-hidden-all'">
    <div class="card-title" th:with="defaultTitle=#{widget.notice.title},
                    iconContent = ${#strings.defaultString(sidebar.icon_new?.value, 'ri-volume-up-line')},
                    iconSvg = ${#strings.startsWith(iconContent, '<svg')}">
        <i class="card-title-label"
           th:unless="${iconSvg}"
           th:classappend="${iconContent}"></i>
        <th:block th:if="${iconSvg}" th:utext="${iconContent}"></th:block>
        <span
            th:text="${#strings.defaultString(sidebar.title, defaultTitle)}"></span>
    </div>
    <th:block th:if="${#strings.isEmpty(sidebar.content)}">
        <div class="card-content">
            <p>[(${#messages.msg('widget.notice.default', site.title)})]</p>
        </div>
    </th:block>
    <th:block th:if="${!#strings.isEmpty(sidebar.content)}">
        <div class="card-content">
            [(${sidebar.content})]
        </div>
    </th:block>
</div>