<div xmlns:th="https://www.thymeleaf.org"
     th:fragment="widget (sidebar)"
     th:class="'card widget timelife ' + ${sidebar.hide}">

    <div class="card-title" th:with="defaultTitle=#{widget.timelife.title},
                    iconContent = ${#strings.defaultString(sidebar.icon, 'ri-hourglass-line')},
                    iconSvg = ${#strings.startsWith(iconContent, '<svg')}">
        <i class="card-title-label"
           th:unless="${iconSvg}"
           th:classappend="${iconContent}"></i>
        <th:block th:if="${iconSvg}" th:utext="${iconContent}"></th:block>
        <span th:text="${#strings.defaultString(sidebar.title, defaultTitle)}"></span>
    </div>
    <div class="card-content aside-timelife"></div>
</div>
