<div xmlns:th="https://www.thymeleaf.org"
     th:fragment="widget (sidebar)"
     th:class="'card widget toc ' + ${sidebar.hide} + ' is-hidden-all'">
    <div class="card-title" th:with="defaultTitle=#{widget.toc.title},
                    iconContent = ${#strings.defaultString(sidebar.icon_new?.value, 'ri-book-2-line')},
                    iconSvg = ${#strings.startsWith(iconContent, '<svg')}">
        <i class="card-title-label"
           th:unless="${iconSvg}"
           th:classappend="${iconContent}"></i>
        <th:block th:if="${iconSvg}" th:utext="${iconContent}"></th:block>
        <span th:text="${#strings.defaultString(sidebar.title, defaultTitle)}"></span>
    </div>
    <div class="card-content toc-content">
    </div>
</div>